.background {
    background: center no-repeat url(https://mobile.appscdn.io/%21VIDEO/Walking%20App/Public/jpeg_app_images/full_body_workout.jpeg);
}

.logo {
    background-image: url(https://lh3.googleusercontent.com/p1YUQpzmUYfg3UyxBJNniPcrjeK9TLxtO016qnQR92vG3PK1IHrwQ738n04M-jNC1g);
}

.progressBar {
    background-color: rgb(238, 255, 65);
}

.splash {
    background-image: url(https://lh3.googleusercontent.com/ibYJh-bnNm9gT3Gxz6hcmcLE3iZ9IjJthkDk1cK2_UN40B_AHwsK4Lb9fOuX0KJV_MM);
}

.watermark {
    background-image: url(https://lh3.googleusercontent.com/p1YUQpzmUYfg3UyxBJNniPcrjeK9TLxtO016qnQR92vG3PK1IHrwQ738n04M-jNC1g);
    background-size: 57px 57px;
}